<a href="https://colab.research.google.com/github/pratikwagh007/c-assignments/blob/master/0_Complete_Python_Tutorial_For_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python data types and Simple Operations

Following are python data type

* Number
* String
* Boolean 
* List
* Tuple

* Dictionary

In [3]:
# Python sets the data type based on variable assigned to it

data = 500  #  The data is a number. data is to be seen as a variable

print(data)

data = 'I am a string jupiter now' # the data is a string now
print(data)

500
I am a string jupiter now

In [0]:
# The only characters in variables are letters, numbers and underscores
# variables cannot start with numbers.

this_is_valid_variable = 2

# 123_variable = 3  # invalid variable
# 123-variable = 3   # invalid variable


# python is case sensitive new_variable and New_variable are two different variables

new_variable = 2
New_variable = 3

**int (plain integers**):  integers are just positive or negative whole numbers.

**long (long integers)**: long integers are integers of infinite size. 

In Python 3 int and long have been merged. We only need to use int data type.



**float (floating point real values)**: floats represent real numbers, but are written with decimal points (or scientific notaion) to divide the whole number into fractional parts. 

**complex (complex numbers)**: represented by the formula a + bJ, where a and b are floats, and J is the square root of -1 (the result of which is an imaginary number). Complex numbers are used sparingly in Python.

In [0]:
# Python Number Data Type


a = 100  # A int datatype

print (type(a))

a = 2**123  # A long integer
print (a)
print (type(a))

print ('Type of a is {}'.format(type(a)))

a = 97.32 # A float value
print ('Type of a is {}'.format(type(a)))

a =3.14j  # A complex number
print ('Type of a is {}'.format(type(a)))

<class 'int'>
10633823966279326983230456482242756608
<class 'int'>
Type of a is <class 'int'>
Type of a is <class 'float'>
Type of a is <class 'complex'>

In [0]:
# Simple mathematical operations


a = 2
b = 3

c = a+b
print ('The sum is',c)

print ('\nAdding 2+3 = {}'.format(a+b)) # addition of numbers

print ('\n***Adding {}+{} = {}'.format(a,b,a+b)) # addition of numbers

print ('\n===Adding ',a,"+",b, "=", a+b) # addition of numbers

The sum is 5

Adding 2+3 = 5

***Adding 2+3 = 5

===Adding  2 + 3 = 5

In [0]:
a = 2.2   
b = 1

print ('\nAdding 2.2+1 = {}'.format(a+b)) # addition of float and number. The result is float

x = a+b
print(type(x))

Adding 2.2+1 = 3.2
<class 'float'>

In [0]:
a = 2
b = 3

print ('\nMultiplying 2*3= {}'.format(a*b)) # Multiplication of two numbers

Multiplying 2*3= 6

In [0]:

a = 2
b = 5

print ('\nDivision  5/2= {}'.format(b/a)) # Divisions of two numbers
print ('\nQuotient  5//2= {}'.format(b//a)) # Getting quotient from division of two numbers
print ('\nRemainder 5 % 2= {}'.format(b%a)) # Getting Remainder from division of two numbers

Division  5/2= 2.5

Quotient  5//2= 2

Remainder 5 % 2= 1

In [0]:

a = 5
b = 6


print ('\nExponential {}**{}= {}'.format(a,b,a**b)) # Exponential of two numbers

Exponential 5**6= 15625

In [0]:
# inplace operators

data = 2
data +=3   # Equivalent to data = data + 3
print (data)

5

# Python Strings

In [0]:
# String data type

# Strings can be created using single quote ', double quotes '' or triple quotes """ """

first_name = 'Vishal'
print (first_name)
last_name = "Singh"
print (last_name)

print ('\n')

long_message = """ This is a long message which will span multiple lines 
by pressing enter.

Line 1  =
Line 2  
                """
print (long_message)

Vishal
Singh


 This is a long message which will span multiple lines
by pressing enter.

Line 1  =
Line 2

In [0]:
# Strings can be accessed as whole Strings or as a Substring

var1 = 'Python Language'

print (var1)

print (var1[0])


print (var1[0:3]) #prints character from position 0 to 2

print('Last Position is',var1[-2])  # last position is -1

print("****")
print (var1[-3:-1]) #prints character from position -3 to last minus 1

print( var1[-3:])

print( var1[:])

Python Language
P
Pyt
Last Position is g
****
ag
age
Python Language

In [0]:
# As single quote and double quotes are used to mark a string we need to use a 
# special way if we want to use them in string. This process is known as escaping

# This is done by placing a backslash character in front of them




str = """Vishal's house is in Mumbai"""
print (str)

str = "This is very \"exciting\"   '
print (str)

SyntaxError: ignored

In [0]:
# String Concatenation

new_string = 'Hello '+'World'
print(new_string)

new_string = 'Hello '+"World"  # Does not matter if string is created with a single or double quote
print(new_string)

Hello World
Hello World

In [0]:
new_string = '2'+'3'
print(new_string)  # sees string as character.


new_string = '2'+ 3 # one cannot mix data types
print(new_string)

23

TypeError: ignored

In [0]:
#multiplication of strings

str = "data "*3
print (str)

str = "4"*3
print (str)

str = "data"* 3.2

data data data
444

TypeError: ignored

In [0]:
# Converting string to different data types

str = '2' +'3'
print (str)

data = int('2') +int('3')
print (data)

print (type(data))

# Taking Inputs

In [0]:
# To take an input from user the function input is used


data = input("Enter a number")
print (data)
print (type(data))

ValueError: ignored

In [0]:
int_data_one = int(input("Enter a number "))
int_data_two = int(input("Enter a number "))

print ('The type of int_data_one and int_data_two is {} {}'.format(type(int_data_one), type(int_data_one) ))

print ('The sum is {}'.format(int_data_one + int_data_two))

Enter a number 1
Enter a number 2
The type of int_data_one and int_data_two is <class 'int'>
The sum is 3

In [0]:
# Assigning variables

data = "I am alive"
print (data)

# y
# print(y)

del data
print (data)

I am alive

NameError: ignored

# Python Boolean

In [0]:
# There are two Python Boolean values True and False

boolean_data = True
print (boolean_data)
print (type(boolean_data))

boolean_data = False
print (boolean_data)
print (type(boolean_data))

True
<class 'bool'>
False
<class 'bool'>

In [0]:
# for comparison we use the equal operator ==
print (5 == 7)

False

In [0]:
# Another comparison operator is not equal respresented as !=


print ('2!=3 is {}'.format(2!=3))
print ('3!=3 is {}'.format(3!=3))

data = ('One'=='One')
print ('One==One is {}'.format(data))


print ('One==One is {}'.format('One'=='One'))





data =('One'!='Two')
print ('One!=Two is {}'.format(data))


data =  ('One'!='One')
print ('One!=One is {}'.format(data))

2!=3 is True
3!=3 is False
One==One is True
One==One is True
One!=Two is True
One!=One is False

In [0]:
# Comparison for greater or smaller

val = 7 > 5
print ('7>5 is {}'.format(val))

print ('7>5 is {}'.format(str()))



val = 10 < 10
print ('10<10 is {}'.format(val))


val = 10 <= 10
print ('10<=10 is {}'.format(val))

7>5 is True
10<10 is False
10<=10 is True

In [0]:
a = "7<5"
print (int(a))

ValueError: ignored

#  Python Control Structures

An if statement is used to run code based on certain condition

for e.g.

if expression:
      
      statements
   
 Python uses indentation to decide a block of code

In [0]:
if 2>1:
  print('2 is greater than 1') # since the if statment is true this block of code executese 
  print("One more")
    
 
  print ('Finished') # print is not part of if block as it is indented as same level

An else follows an if statement

if expression:

     statements
 else:
 
     statements

In [0]:
# taking input values
int_data_one = int(input("Enter first number ")) #int ? ,Bcz here we used numbers
int_data_two = int(input("Enter second number "))

if (int_data_one> int_data_two ):
  print ('{} is greater than {}'.format(int_data_one,int_data_two))
else:
  print ('{} is not greater than {}'.format(int_data_one, int_data_two))

The elif statment is for chaining if and else statement

In [0]:
num = int(input("Enter first number "))

if num == 900:
  print ('num is 900 **** big number') #elif ?, here we continue the if process
elif num == 100:  
  print ('num is 100 --- small number')
else:
  print ('value of num is unknown')

In [0]:
num = int(input("Enter first number "))

if num == 900:
  print ('num is 900 **** big number')

else:
  print ('value of num is unknown')

In [0]:
# Boolean logic is used to make complicated conditions using and,or and not

# A=true,  B=true  then  (A and B) is true
# A=true,  B=false then  (A and B) is false
# A=false, B=true  then  (A and B) is false
# A=false, B=false then  (A and B) is false


cond = (1==1 and 2==2)
print ("1==1 and 2==2 is {}".format(cond))  


cond = (1==1 and 2==3)
print ("1==1 and 2==3 is {}".format(cond))  


cond = (5==6 and 2==2)
print ("5==6 and 2==2 is {}".format(cond))  


cond = (5==6 and 2==3)
print ("5==6 and 2==3 is {}".format(cond))

In [0]:
# A=true,  B=true  then  (A or B) is true
# A=true,  B=false then  (A or B) is true
# A=false, B=true  then  (A or B) is true
# A=false, B=false  then (A or B) is false


cond = (1==1 or 2==2)
print ("1==1 or 2==2 is {}".format(cond))  


cond = (1==1 or 2==3)
print ("1==1 or 2==3 is {}".format(cond))  


cond = (5==6 or 2==2)
print ("5==6 or 2==2 is {}".format(cond))  


cond = (5==6 or 2==3)
print ("5==6 or 2==3 is {}".format(cond))

1==1 or 2==2 is True
1==1 or 2==3 is True
5==6 or 2==2 is True
5==6 or 2==3 is False

In [0]:
# not means the opposite

cond = (1==1)
notcond = not cond

print ("not 1==1 is {}".format(notcond))

not 1==1 is False

In [0]:
a ="This"

False

In [0]:
# Operator Precedence
# Python follows the standard mathematical precedence. 
# It is always better to use brackets to enforce logical ordering

val = False == False or True  # This happens as == has higher predence than or
print (val)

val = False == (False or True)  # A bracket override the natural precedence
print (val)

True
False

In [0]:
# while statement is like if statement. The crucial difference between if and while is 
# that while executes multiple times. It is a type of loop

i = 0
while i<2:
  print (i)
  i= i+1

0
1

In [0]:
# A infinite loop continues indefnitely

while True:
  print ('running infinitely')

SyntaxError: ignored

In [0]:
# A break statement is used to break from a loop
i = 0
while i<10:
  if i==5:
    break
  print (i)
  i= i+1

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4

In [0]:
# A break statement is used to break from a loop
i = 0
while True:
  if i==5:
    break
  print (i)
  i= i+1

In [0]:
# A continue statement stops the flow and goes back again to the starting point of block. 
# The difference between continue and break is
# break - breaks out of the block
# continue - goes back to start of the block

i = 0
while i<20:
  if (i % 2==0):
    i=i+1
    print ("Inside continue",i)
    continue
  i=i+2  
  print (i)
  i= i+1

Inside continue 1
3
Inside continue 5
7
Inside continue 9
11
Inside continue 13
15
Inside continue 17
19

# Lists and Range

In [0]:
# A list denotes a container object in python
# A list is used to store indexed list of items
# A list can contain different types of items for e.g. string, intger or other list


word_list = ['This', 'is', 'good']  # A list of 3 items

print (word_list[0]) # prints the first  item. Index starts at 0.
print (word_list[1]) # prints the second item
print (word_list[2]) # print the third item


# An empty list is created with empty bracket
empty = []
print (empty)

In [0]:
# A list can contain items of multiple types

generic_list = [1,"String",[1,2,3], 5]

print ('Value at {} is {} of type {}'.format(0,generic_list[0],type(generic_list[0])))
print ('Value at {} is {} of type {}'.format(1,generic_list[1],type(generic_list[1])))
print ('Value at {} is {} of type {}'.format(2,generic_list[2],type(generic_list[2])))
print ('Value at {} is {} of type {}'.format(3,generic_list[3],type(generic_list[3])))


# nested list access

print ('Accessing {} value from nested list {} = {}'.format(1,generic_list[2] ,generic_list[2][1]))

In [0]:
# indexing out of bounds causes error

generic_list = [1,"String",[1,2,3], 5]

generic_list[4] # This will cause error

In [0]:
# Elements at certain index can be reassigned

nums = [4,8,16,24]

print ("The list is {}".format(nums))

nums[1] = -222

print ("The list after modification is {}".format(nums))

In [0]:
# Lists can be added and multipled

nums = [6,7,8]

new_list = nums * 3

print (new_list)

[6, 7, 8, 6, 7, 8, 6, 7, 8]

In [0]:
# A in operator is used to check if an element is present in list

words =["The", "age", "of", 5,"reason"]

x = "The" in words

print(x)

x = "Unreason" in words


print(x)

True
False

In [0]:
# A not operator can be used to check if item is not present

nums = [1,4,8]

x = 10 not in nums
print (x)

In [0]:
# List append function

nums = [5,8,10]
nums.append(14)

print (nums)

In [0]:
# List Plus Function
nums_one = [5,8,10]
nums_two = [15,81,101]

nums_three = nums_one +nums_two

print(nums_three)

In [0]:
# length of list

nums = [5,8,10]
print (len(nums))

In [0]:
# inserting at specific index

nums = [5,8,10]
nums.insert(2,100)

print (nums)

In [0]:
# index method finds the first occurence of list item and returns the index

nums = [5,8,10,12,10]

ind = nums.index(10)

print (ind)


ind = nums.index(100) # A value Error is raised when item is not present in list

print (ind)

In [0]:
nums = [5,8,10,12,10]

print ("The maximum is {}".format(max(nums)))

print ("The minimum is {}".format(min(nums)))

#print ("The number of times 10  is present is {}".format(nums.count(10)))

nums.reverse()

print ("The reverse of list is {}".format(nums))

# using rever
revnums = reversed(nums)


print ("The reverse of list is {}".format(list(revnums)))

# remove 10

nums.remove(10)

print ("The list after removing 10 is {}".format(nums)) # only removes the first 10

In [0]:
# using pop

nums = [10,2,3,4]
x = nums.pop(1)
print (x,nums)

x = nums.pop()
print (x,nums)

In [0]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')

# print count
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')

# print count
print('The count of p is:', count)

In [0]:
words = [1,2,3,4,4]

for i, j in enumerate(words):
    print (i, j)

In [0]:
# List Sorting

nums = [5,8,10,12,10]
print (nums.sort())
print (nums)


nums = [115,8,10,112,10]
x = sorted(nums)
print(x)


nums = [5,8,10,12,10]
print (nums.sort(reverse=True))
print (nums)


nums = [115,8,10,112,10]
x = sorted(nums,reverse=True)
print(x)

In [0]:
# List copying

old_list = [1, 2, 3]
new_list = old_list

# add element to list
new_list.append('a')

print('New List:', new_list )
print('Old List:', old_list )

#The problem with copying the list in this way is that if you modify the new_list, the old_list is also modified.


#However, if you need the original list unchanged when the new list is modified, you can use copy() method. This is called
#shallow copy.

# mixed list
lista = ['cat', 0, 6.7]

# copying a list
new_list = lista.copy()

# Adding element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List: ', lista)
print('New List: ', new_list)

In [0]:
# removing all values of 10

nums = [5,8,10,12,10]
while 10 in nums:
  nums.remove(10)
  
print ("The list after removing 10 is {}".format(nums)) # This removes all the values of 10

In [0]:
# Range function creates a list of numbers
num = list(range(10))
print (num)

num = list(range(1,10))
print (num)

num = list(range(1,10,2)) # positive step
print (num)


num = list(range(10,0,-1)) # negative step
print (num)



for i in range(1,10):
  print (i)

In [0]:
# For Loop

data = [1,4,10]
for d in data:
  print (d)
  
print("\n")
  
for i in range(5):
  print (i)

In [0]:
# Clear function clears all the values of a list
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

# Python Function and Modules

Functions help to reuse code. The bring modularity and simplicity to code

In [0]:
# functions in python are created using def statement

In [0]:
def name_of_great_philospher():
  print ('Bertrand Arthur William Russell')

name_of_great_philospher()

In [0]:
# functions need to be defined before they are called
name_of_philospher() 

def name_of_philospher():
  print ('Bertrand Arthur William Russell')

In [0]:
# One can pass arguments to functions
# name is an argument for the function name_of_philosphers

def name_of_philospher(name, country):
  print (name,country)
  
  
name_of_philospher('Bertrand Arthur William Russell', 'United Kingdom')

In [0]:
#function can  return values

def name_of_philospher(name, country):
  str = "The philosopher {} lived in  country {}".format(name,country)
  return str


name = name_of_philospher('Bertrand Arthur William Russell', 'United Kingdom') 
print (name)

In [0]:
# function can return multiple values

def add_and_substract(num1,num2):
    add = num1+num2
    diff = num1-num2
    return add,diff
  
add,diff = add_and_substract(10,2) 

print ("The sum is =",add)
print ("The difference is =",diff)

In [0]:
# Using named arguments

def add_and_substract(num1,num2):
    add = num1+num2
    diff = num1-num2
    return add,diff
  
add,diff = add_and_substract(num1=10,num2=2) 

print ("The sum is =",add)
print ("The difference is =",diff)

add,diff = add_and_substract(num2=2,num1=10)
print ("The sum is =",add)
print ("The difference is =",diff)

In [0]:
#any code after return will not be executed

def add_and_substract(num1,num2):
    add = num1+num2
    diff = num1-num2
    return add,diff
    print ('After Function')
  
add,diff = add_and_substract(num1=10,num2=2)
print ("The sum is =",add)
print ("The difference is =",diff)

In [0]:
#docsstring are documentation strings. They are created by using a multiline string
#after first line of function

def add_and_substract(num1,num2):
    """
     The function adds and subtsracts two numbers
    """ 
    add = num1+num2
    diff = num1-num2
    return add,diff
   
  
add,diff = add_and_substract(num1=10,num2=2)
print ("The sum is =",add)
print ("The difference is =",diff)

In [0]:
# Functions are just like normal variables. They can be assigned and 
# reassigned to variables

def add_and_substract(num1,num2):
    """
     The function adds and subtsracts two numbers
    """ 
    add = num1+num2
    diff = num1-num2
    return add,diff
  
operation = add_and_substract

num1, num2 = operation(5,2)
print (num1, num2)

In [0]:
# function can also be used as arguments to other functions

def add_and_substract(num1,num2):
    """
     The function adds and subtsracts two numbers
    """ 
    add = num1+num2
    diff = num1-num2
    return add,diff

def add_summ_diff(func, num1, num2):
      x,y = func(num1,num2)
      return x+y
    
    
val = add_summ_diff(add_and_substract,10,3)    
print (val)

In [0]:
# The special syntax, *args and **kwargs in function definitions is used to pass a variable number of arguments to a function.

# The single asterisk form (*args) is used to pass a non-keyworded, variable-length argument list, 
# and the double asterisk form is used to pass a keyworded, variable-length argument list. 


def add_numbers(*args):
  
  for i in args:
    print (i)

add_numbers(1,2,3,4,5)    



def add_numbers(**kwargs):
    for key in kwargs:
        print ("another keyword arg: {}: {}".format(key, kwargs[key]))
   
  
add_numbers(num1=1,num2=2,num3=3,num4=4,num5=5)

In [0]:
# modules can be thought as collection of functions
# the way to use module is via import function

import random

for i in range(6):
  value = random.randint(1,8)
  print (value)

In [0]:
# One can also import a specific function

from random import randint

for i in range(6):
  value = randint(1,8)
  print (value)

In [0]:
# one can import a module under a different name or object

from random import randint as my_rand_func

for i in range(6):
  value = my_rand_func(1,8)
  print (value)

### There are main three types of modules


*   Modules which one write on own
*   Third Party Modules
*   Python Standard Library

Standard library includes string,re,datetime and many more.


The third party modules can be installed using pip.

In [0]:
# for e.g to install google-api-python-client

!pip install google-api-python-client

# Python Exceptions

In [0]:
# Exceptions occur when something wrong happens in the code. The program stops immediately

num1 = 4
num2 = 0

print (num1/num2)

print ("Exiting")   #This line will not be printed

Exceptions can be raised for multiple reasons. For e.g.

* ImportError - An import fails
* IndexError - A list is indexed with out of range error
* SytanxError - Some syntax error
* TypeError - A function is called with a wrong type of variable
* ValueError - A function is called with inappropriate value

In [0]:
#import nump1

#list = [1,2,3]
#list[4]        # Index Error


#list = {1,2,3] # Syntax error


#x = int('One') # This causes a value error

def add_num(num1,num2):
    return int(num1)+int(num2)   #value error
  

add_num("One","Two")

In [0]:
# To handle exceptions we use try/except statement. Try contains code that might throw an exception


try:
  num1 = 8
  num2 = 0
  x = num1/num2           # This line throws exception. The code stops immediately. 
  print ("This statement will not be printed") # This line is not executed.
  
except ZeroDivisionError:
   print ("Zero Division Error")

In [0]:
# A try statement can have multiple except blocks

try:
  variable = 10
  print(variable+"hello")
  print(variable/2)
  
except ZeroDivisionError:  
  print("Divided by Zero")
except(ValueError, TypeError):
  print("Error Occured")

In [0]:
# An except statement without any exception specified will catch all errors

try:
  
  4/0
  
except:
  print ("Error Occured")

In [0]:
# To ensure that code runs no matter a finally block will be used
try:
  print("Step 1")
  4/0                            # An exception happen here
except ZeroDivisionError:        # The exception is caught here   
  print ("Divided by Zero")      # This is printed
  
finally:
  print("This will be always executed")  # This will be executed whether there is exception or not

In [0]:
# Code in finally statement always runs even if there is an exception in above block

try:
  print (8/0)
except ZeroDivisionError:
  print (unknown_data)  # This will trigger an exception
finally:
  print ("This will always be executed")

In [0]:
# One can raise exceptions by using the raise statement
print ("data")
raise ValueError
print ("2")

In [0]:
# Exceptions can be raised by giving details about arguments

name = "123"
raise NameError("Invalid Name")

In [0]:
# In except blocks the raise statement can be used without arguments. It re raises whatever exception
# has occured

try:
  num = 5/0
except: 
  print ("Error Occured")
  raise

In [0]:
def my_func():
  try:
    4/0   # This raises ZeroDivisionError
  
  except Exception as ex:
    template = "An exception of type {0} occurred. Arguments:\n{1!r}"
    message = template.format(type(ex).__name__, ex.args)
    print (message)
    raise # The ZeroDivisionError is propogated out
   
  
def another_func():
  try:
    my_func()
  except ZeroDivisionError: # The ZeroDivisionError is caught
      print ('Error')
      
another_func()

In [0]:
class MyException(Exception):
    
    def __init__ (self,code):
        self.code = code
        
       
    

def my_func():
    try:
        4/0   # This raises ZeroDivisionError
    except ZeroDivisionError:
        raise MyException(100)
        

try:        
    my_func()        
except MyException as ex:    
    print (ex)

# File Handling Python

In [0]:

# In Python a file can be either text or binary
# Text files are structured as a sequence of lines, where each line includes a sequence of characters. 
# Each line is terminated with a special character, called the EOL or End of Line character. 
# There are several types but the most common is the comma {,} or newline character.

my_file = open("philosphers.txt", "w") # open file for writing

lines = ['The great philosphers of the world\n', 'John Locke\n', 'Kant\n']
my_file.writelines(lines)
my_file.close()

my_file = open("philosphers.txt", "r") # open file for reading
file_data = my_file.read()
print(type(file_data))
print (file_data)
my_file.close()

In [0]:
my_file = open("philosphers.txt", "w") # open file for writing mode will erase all the existing content.
my_file.write("John Locke\n")
my_file.close()

my_file = open("philosphers.txt", "r") # open file for reading
file_data = my_file.read()
print (file_data)
my_file.close()


my_file = open("philosphers.txt", "a") # open file for writing in append mode
my_file.write("Immanuel Kant\n")
my_file.close()


my_file = open("philosphers.txt", "r") # open file for reading
file_data = my_file.read()
print (file_data)   # will not print John Locke and Immanuel Kant
my_file.close()

In [0]:
# This kind of style always ensures that files are closed

try:
  my_file = open("philosphers.txt", "w") # open file for writing
  my_file.write("The great philosphers of the world")
finally:  
  my_file.close()

In [0]:
# This code will work only in pycharm.


import os

package_dir = os.path.dirname(os.path.abspath(__file__))
print(package_dir)
thefile = os.path.join(package_dir,'philosphers.txt')
print(thefile)

my_file = open(thefile, "r") # open file for reading
file_data = my_file.read()
print(type(file_data))
print (file_data)
my_file.close()

In [0]:
# Another way of working with files is
with open("philosphers.txt") as f:
  print(f.read())

In [0]:
# A none object is used to represent the absence of a value.
# it is like null in any other programming language

x = (None == None)
print (x)

x = (None == True)
print (x)

x = (None == False)
print (x)


def afunc():           # A function which does not return a value returns none.
   print("Hello")
    
print (afunc())        # A none is returned

#Dictionaries

In [0]:
# Dictionaries are data structures used to map key to values

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx"}

print (philosphers["United Kingdom"])
print (philosphers["Germany"])

In [0]:
# Accessing a Index which is not part of dictionary results in a keyerror

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx"}

print (philosphers["India"])  # This will result in a KeyError

In [0]:
# Only immutable objects can be used as keys. Using a mutable object as key will cause a type error


d = {
    [1,2,3]:"One Two Three"
}

print (d)

In [0]:

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx", "India":None}

philosphers["India"] = "AryaBhatt"              #One can assign a existing key to new value
philosphers["United Kingdom"] = "John Stuart Mill" #One can assign a existing key to new value
philosphers["United States"] = "John Dewey" # One can create a new key and assign a value



print (philosphers)

In [0]:

# One can determine whether a key is present in dictionary or not using in and not in

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx", "India":"Arya Bhatt"}

print ("India" in philosphers)
print ("Brazil" in philosphers)
print ("Brazil" not in philosphers)


print(philosphers)

In [0]:
# One can determine whether a key is present in dictionary or not using in and not in

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx", "India":"Arya Bhatt"}

print (philosphers.keys())

print(type(philosphers.keys()))

print (philosphers.values())
print(type(philosphers.values()))

print (philosphers.items())
print(type(philosphers.items()))

In [0]:
# A get method is like an index with added advantage that one can specify a default value 
# if the index is not found This prevents keyerror

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx", "India":"Arya Bhatt"}

print (philosphers.get("Russia","No philospher set for Russia"))  # No keyerror
print (philosphers.get("Russia"))  # By default a None value will be returned
print (philosphers["Russia"])   # A keyerror occurs

# JSON

In [0]:
import json

john_row = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ["Ann","Billy"],
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

hari_row = {
  "name": "hari",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ["Ann","Billy"],
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

person_table = []
person_table.append(john_row)
person_table.append(hari_row)


print(json.dumps(person_table, indent =4))

#Tuples

In [0]:
# Tuples are similar to list except that they are immutable. Once assigned values cannot be changed
# They are created using paranthesis



philosphers = ("Bertrand Russell", "Karl Marx", "Arya Bhatt")
print (philosphers[0])

#philosphers[0] = "John Locke" # This will result in an error


def multiple_ret_params():
  return 1,2,3
  
  
x = multiple_ret_params()  
print(type(x))  # returns a tuple


def func(*arg):
    print("The  argument type is",type(arg))  # This will print tuple
    pass
  
func(1,2,3)

In [0]:
# Tuples can also be created without parentheses by just separating with commas

philosphers = "Bertrand Russell", "Karl Marx", "Arya Bhatt"
print (philosphers[2])

# Sets

In [0]:
first_set = {"a", "b", "c","a"}
#first_set.add("d")
#first_set.add("a")

print (first_set)

In [0]:
first_set = {"a", "b", "c"}
second_set = {"d", "e", "f"}
 
x = first_set.union(second_set)
print  (x)

In [0]:
first_set = {"a", "b", "c"}
second_set = {"a", "b", "f"}
 
first_set.union(second_set)

In [0]:
first_set = {"a", "b", "c"}
second_set = {"a", "b", "f"}
 
first_set.intersection(second_set)

In [0]:
first_set = {"a", "b", "c"}
second_set = {"a", "b", "f"}
 
print(first_set -(second_set))

print(first_set.difference(second_set))

# List Slices

In [0]:
# List slices provides a advanced mechanism for accessing values from list
# using colon notation


squared = [0,1,4,9,16,25,36,49,64,81]

print (squared[2:6]) # prints the value at index 2,3,4,5 
print (squared[:6])  # prints the value at index 0,1,2,3,4,5
print (squared[3:])  # prints all the value from 3 till end

print (squared[0:1])  # prints the value at index 0

In [0]:
# List slices can also have the third argument which represents the step

squared = [0,1,4,9,16,25,36,49,64,81]

print (squared[::2]) # prints alternate values

# 0 1 2 3 04 05 06 07 08
# 0 1 4 9 16 25 36 49 64

print (squared[2:8:3]) # prints from 2 to 7 with step of 3

In [0]:
# List slices can also be negative

squared = [0,1,4,9,16,25,36,49,64,81]

print (squared[1:-1])   # Goes from start to one to -1(last), -1 is not included.
print (squared[:-1])

print (squared[:-1:2])


#Reversing a list

print (squared[9::-1])

print (squared[len(squared)::-1])

print (squared[::-1])

In [0]:
# One can also copy a list using list slicing.


list = ['cat', 0, 6.7]

# copying a list using slicing
new_list = list[:]

# Adding element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List: ', list)
print('New List: ', new_list)

#List Comprehension

In [0]:
# List comprehensions are useful way for creating lists with a simple rule

# Pythonic way
square = [a* a for a in range(5)]
print (square)


# Without list comprehension
square_list =[]
for a in range(5):
  square_list.append(a*a)
print(square)

In [0]:
# An if statement can also be used in list comprehension

# Pythonic way
square = [a* a for a in range(5) if a%3 == 0]
print (square)


# Without list comprehension
square_list =[]
for a in range(5):
  if a%3 == 0:
    square_list.append(a*a)
    
print(square)

**Dictionary Comprehension**

In [0]:

# Python code to demonstrate dictionary  
# comprehension 
  
# Lists to represent keys and values 
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5]   

print (list(zip(keys, values)))
  
# but this line shows dict comprehension here   
myDict = { k:v for (k,v) in zip(keys, values)}   
  
# We can use below too 
# myDict = dict(zip(keys, values))   
  
print (myDict)

#Formatting of  Strings

In [0]:
nums = [1,2,3]

out = "The numbers are {},{},{}".format(nums[0],nums[1],nums[2])
print (out)



# named arguments can also be used
out = "The numbers are {a},{b},{c}".format(b=nums[1],a=nums[0],c=nums[2])
print (out)

# Python String Functions

In [0]:



str = ",".join(["Life","is","good"])  # joins all the words in list with comma
print (str)

str = "Life is good".replace("good","strange")  # replace all occurences of good with strange
print (str)

str = "Hello World. Hello Python".replace("Hello","Namaste")  # replace all occurences of Hello with Namaste
print (str)


bool = "Hello World. Hello Python".startswith("Hello")  # Checks if string starts with Hello
print (bool)

bool = "Hello World. Hello Python".endswith("Python")  # Checks if string ends with Python
print (bool)


str = "The world is flat"
x = "is" in str
print (x)


str = "The world is flat ld"
x = str.find('ld')
print (x)

str = "The world is flat"
x = str.find('is flat')
print (x)

In [0]:
upper = "hello world".upper()
print (upper)

lower = "HELLO world".lower()
print (lower)

lower = "hello world".capitalize()
print (lower)

list = "Lion, Tiger,Elephant".split(",")
print(list)


list = "Lion * Tiger  * Elephant".split("*")
print(list)

list = "Lion * Tiger  * Elephant".split()
print(list)

* Combining String Split and Comprehension"[link text](https://)

In [0]:
list = "Lion, Tiger,Elephant".split(",")
print(list)

myDict = { k:v for (k,v) in enumerate(list)}
print(myDict)

# Python Numeric Functions

In [0]:
list = [1,4,6,7]

print ("The minimum is",min(list))
print ("The maximum is",max(list))
print ("The sum is",sum(list))


print (abs(-10))

# Python List Functions

In [0]:
#Return Value from any()
#The any method returns:

# True if at least one element of an iterable is true
# False if all elements are false or if an iterable is empty


l = [22,33,45,67,54]

print(any(l))  # Print True

l = [0]
print(any(l))  # Print False

l = [-1]
print(any(l))  # Print True



l = [0, False]
print(any(l))  # Print False   

l = [0, False, 5] #Print True 
print(any(l))


l = []          #Print False 
print(any(l))

In [0]:
# To find if any one of the number is greater than 30

l = [22,33,45,67,54]

print([ i > 30 for i in l])

any([ i > 30 for i in l])

In [0]:
# Any with strings

s = "This is good"
print(any(s))

# 0 is False
# '0' is True
s = '000'
print(any(s))

s = ''
print(any(s))   # only empty string is false

In [0]:
# Any with dictonaries

d = {0: 'False'}
print(any(d))   #False

d = {0: 'False', 1: 'True'}
print(any(d))   #True

d = {0: 'False', False: 0}
print(any(d))  #False

d = {}
print(any(d))  #False

# 0 is False
# '0' is True
d = {'0': 'False'}
print(any(d))  #true

In [0]:
#Return Value from all()
#The all() method returns:

#True - If all elements in an iterable are true
#False - If any element in an iterable is false


# all values true
l = [1, 3, 4, 5]
print(all(l))    #Prints True

# all values false
l = [0, False]
print(all(l))    #Prints False

# one false value
l = [1, 3, 4, 0]
print(all(l))      #Prints False

# one true value
l = [0, False, 5]
print(all(l))       #Prints False

# empty iterable
l = []
print(all(l))     #Prints True

In [0]:

# All with string

s = "This is good"
print(all(s))

# 0 is False
# '0' is True
s = '000'
print(all(s))

s = ''
# print(all(s))

In [0]:
# All with dictionaries

s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

s = {}
print(all(s))

# 0 is False
# '0' is True
s = {'0': 'True'}
print(all(s))

In [0]:
# Enumerate function

nums = [4,8,12,16]

# t is a tuple of value and index

for t in enumerate(nums):
    print(t)
print ('-----------------')

# Object Oriented Programming

In [0]:
# Object oriented programming considers objects storing data  and methods
# A program is considered as interaction of objects

# A class is objects blueprint - description or defnition
# Classes are created using keyword class and indented block 
# which contains class methods

In [0]:
class Philospher:
  
  # The class has two attributes name and country
    
  
  # init method is called when the object is getting created
  # It has self argument passed as the first parameter
  # self  represents the instance
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    
    
russell = Philospher('Bertrand Rusell', 'United Kingdom')   
print(russell.name,russell.country)

panini =  Philospher('Panini', 'India')   
print(panini.name,panini.country)

In [0]:
# Classes can have methods

class Philospher:
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
  
  def show_details(self):
    print('name = {},country = {}'.format(self.name,self.country))
    
russell = Philospher('Bertrand Russell', 'United Kingdom')   
russell.show_details() # Note that one need not pass self

In [0]:
# There can also be class level attributes

class Philospher:
  
  count = 0   # class level attribute. It is attached to all instances
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    Philospher.count = Philospher.count+1  # The class level attribute is increased
  
  def show_details(self):
    print('name = {},country = {}'.format(self.name,self.country))
    
    
russell = Philospher('Bertrand Russell', 'United Kingdom')
panini =  Philospher('Panini', 'India') 

print ('The Philospher count is',Philospher.count)

print ('The Philospher count is',russell.count) # A instance refrence to count points to the class count
print ('The Philospher count is',panini.count) # A instance refrence to count points to the class count

In [0]:
# Trying to access an attribute which does not exist causes an attribute error



class Philospher:
  
  count = 0   
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    Philospher.count = Philospher.count+1  
  
  def show_details(self):
    print('name = {},country = {}'.format(self.name,self.country))
    
    
russell = Philospher('Bertrand Russell', 'United Kingdom')
russell.town # Town does not exist

In [0]:
class JwelleryShop:
    
      def __init__(self, name,location):  
        self.name = name                  
        self.location = location
        
        

x =  JwelleryShop('Bhima', ' Jayanagar')       
print(x.name, x.loaction)

y =  JwelleryShop('AVR', ' J P Nagar')       
print(y.name, y.loaction)

# Inheritance

In [0]:
#Inheritance allows class to share functionality between classes


class Philospher:
  
  count = 0   
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    Philospher.count = Philospher.count+1  
  
  def show_details(self):
    print('name = {},country = {}'.format(self.name,self.country))
    
    
class GreekPhilospher(Philospher):
  
  def  __init__(self, name,country,details):
      Philospher.__init__(self, name,country)  # The base class constructor is called
      self.details = details
      
  def show_details(self):
    print('name = {},country = {}, philosophy={} '.format(self.name,self.country,self.details))    
      
      
plato = GreekPhilospher('Plato','Greece','After Death Philosophy')
plato.show_details()

In [0]:
# The function super can be used to call the parent class function

class Philospher:
  
  count = 0   
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    Philospher.count = Philospher.count+1  
  
  def show_details(self):
    print('name = {},country = {}'.format(self.name,self.country))
    
    
class GreekPhilospher(Philospher):
  
  def  __init__(self, name,country,details):
      Philospher.__init__(self, name,country)  # The base class constructor is called
      self.details = details
      
  def show_details(self):
    super().show_details()   # Super invokes the parent Philospher show detail function
    print('The special philosophy is {} '.format(self.details))   
    
    
plato = GreekPhilospher('Plato','Greece','After Death Philosophy')
plato.show_details()

# Magic Methods

In [0]:
# Magic methods are special methods which have double underscores at begining and
# end of their names. They are known as dunders

class MegaNumber:
  
  def __init__(self, x,y):  # constructor also treated as magic operation
    self.x = x
    self.y = y
    
  def __add__(self, othermeganumber):
      return MegaNumber(self.x+ othermeganumber.x, self.y+othermeganumber.y)
    
  def myaddition (self, othermeganumber):
      return MegaNumber(self.x+ othermeganumber.x, self.y+othermeganumber.y)  
  
  
first  =  MegaNumber(10,12)

print(first.x)

second =  MegaNumber(20,40)
print(second.x)

print('**',first.x+second.x, first.y+second.y)

third = first.myaddition(second)

third = first + second  # the + operation gets executed by __add__
  
print(third.x, third.y)

 There are many more magic methods
 
__sub__ for  -

__mul__ for mul

__truediv__ for /

Please look at documentation for all the magic methods.

There are also magic methods for making classes act like containers

__len__ for len()
__getitem__ for indexing
__setitem__ for assigning to indexed values

__iter__ for iteration over objects
__contains_ for in

# Object Lifecycle

In [0]:
# An object follows the lifecycle of 
# creation, usage and destruction

# The first stage is definition of class
# The next stage is instantiation where _init_ is called
# Before  _init_ a __new__ is called


class Philospher:  # => Defnition of class
    
        
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    print ("Inside  Constructor")

    
  def __new__(cls, *args, **kwargs):
    print ("Executing __new__")
    instance = super(Philospher, cls).__new__(cls)
    return instance   
    
russell = Philospher('Bertrand Russell', 'United Kingdom')   # This triggers call to __new and __init__
print(russell.name,russell.country)

In [0]:
# When an object is destroyed the memory allocated is freed up.

# Destruction of an object only occurs when its refrence counts reaches zero
# Reference count means number of variable and objects refrencing to the object
# del statement reduces the count of an object

# when an object refrences count is 0, python garbage collects it.


b = 90  # Create Object
print (b)

c = b   # Increase ref, ref = 1
print (c)

d = [b] # Increase ref, ref = 2
print (d)

del b # decreases ref but still two objects are refering it

print (c)
print (d)

c = 80   #remove refrence to b
d[0] = -1 #remove refrence to b. At the stage the memory allocated for b can be garbage collected.

# Data Hiding

The key principle of data hiding is that implementation details of the classes should not be exposed out.
One want to use the object and not get bogged with internal details of the object. This is generally implemented using the concepts of public, private and protected.

Python does not implement strict private methods as we will see. It does not have protected methods.

In [0]:
# Weak private method and attributes have single underscore at begining
# This is a signal that it should not be used by external code.
# It is only a matter of convention.


class Philospher:  # => Defnition of class
      
  def __init__(self, name,country):   # This is the contructor
    self._name = name              # Weak Attribute     
    self._country = country        # Weak Attribute       
   
  def __repr__ (self):  # magic method for representing object as string
    str = "Name ={}, Country ={}".format(self._name,self._country)
    return str
    
russell = Philospher('Bertrand Rusell', 'United Kingdom')  

print (russell)

print(russell._name,russell._country)  # We can still access the _name and _country from outside

In [0]:
# Strong private methods and attributes have double underscore at begining of their names
# This causes their names to be mangled and hence cannot be accessed fromm outside.

class Philospher:  # => Defnition of class
      
  def __init__(self, name,country):   # This is the contructor
    self.__name = name                  
    self.__country = country
   
  def __repr__ (self):  # magic method for representing object as string
    str = "Name ={}, Country ={}".format(self.__name,self.__country)
    return str
  
russell = Philospher('Bertrand Rusell', 'United Kingdom')


print(russell._Philospher__name) # By using mangled structure one can access the name
print(russell.__name)  # This cannot be accessed from outside

# Class and Static Methods

In [0]:
# Class methods have class parameter passed to it.
# Instead of accepting a self parameter, class methods take a cls parameter that points to the classand not the object instancewhen the method is called.

class Philospher:
  
  count = 0   # class level attribute. It is attached to all instances
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    Philospher.count = Philospher.count+1  # The class level attribute is increased
    
  @classmethod
  def show_count(cls):
    print('The number of philosphers are {}'.format(cls.count))
    
  
  
  def print_in_fancy_style(philospher): #static method 
    # static method do not have self passed.
    print('****** The philospher name is {} ***'.format(philospher.name))  
  
  def show_count_static(): #static methods don't have access to class methods
    print('The number of philosphers are {}'.format(count))  
    
  
  
    
    
russell = Philospher('Bertrand Russell', 'United Kingdom')
panini =  Philospher('Panini', 'India') 

Philospher.show_count()
Philospher.print_in_fancy_style(russell)

Philospher.show_count_static()  # This produces error

#Properties

In [0]:
# Python has concept called property
# which helps to convert class_methods to read only attributes
# Reimplement setters and getters into an attribute


class Philospher:
  
  # The class has two attributes name and country
    
  
  # init method is called when the object is getting created
  # It has self argument passed as the first parameter
  # self  represents the instance
  
  def __init__(self, name,country):   # This is the contructor
    self.name = name                  
    self.country = country
    
    
  @property
  def name_and_country(self):
    """
      Return the  name and country
    """
    return "%s %s" % (self.name, self.country)
  
  
russell = Philospher('Bertrand Russell', 'United Kingdom')
print (russell.name_and_country)  

russell.name_and_country = 'Bertrand Russell United Kingdom' # This will not work as it is readonly attribute

#print (russell.name_and_country())  # will give error

In [0]:
# Reimplement setters and getters into an attribute


from decimal import Decimal
 
########################################################################
class Fees(object):
    """"""
 
    #----------------------------------------------------------------------
    def __init__(self):
        """Constructor"""
        self._fee = None
 
    #----------------------------------------------------------------------
    def get_fee(self):
        """
        Return the current fee
        """
        return self._fee
 
    #----------------------------------------------------------------------
    def set_fee(self, value):
        """
        Set the fee
        """
        if isinstance(value, str):
            self._fee = Decimal(value)
        elif isinstance(value, int):
            self._fee = value
 
    fee = property(get_fee, set_fee)
  
f = Fees()
f.fee="1"
print (f.fee)

f.fee = 2
print(f.get_fee())

In [0]:
from decimal import Decimal
import types
 
########################################################################
class Fees(object):
    """"""
 
    #----------------------------------------------------------------------
    def __init__(self):
        """Constructor"""
        self._fee = None
 
    #----------------------------------------------------------------------
    @property
    def fee(self):
        """
        The fee property - the getter
        """
        return self._fee
 
    #----------------------------------------------------------------------
    @fee.setter
    def fee(self, value):
        """
        The setter of the fee property
        """
        if isinstance(value, str):
            print ('For String') 
            self._fee = Decimal(value)
        elif isinstance(value, int):
            print ('For Decimal') 
            self._fee = value
f = Fees()

f.fee = "2"
print(f.fee)


f.fee = 5
print(f.fee)


# Regular Expressions


a, X, 9, < -- ordinary characters just match themselves exactly. The meta-characters which do not match themselves because they have special meanings are: . ^ $ * + ? { [ ] \ | ( )

. (a period) -- matches any single character except newline '\n'

\w -- (lowercase w) matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_]. Note that although "word" is the mnemonic for this, it only matches a single word char, not a whole word. \W (upper case W) matches any non-word character.

\b -- boundary between word and non-word

\s -- (lowercase s) matches a single whitespace character -- space, newline, return, tab, form [ \n\r\t\f]. \S (upper case S) matches any non-whitespace character.

\t, \n, \r -- tab, newline, return

\d -- decimal digit [0-9] (some older regex utilities do not support but \d, but they all support \w and \s)


^ = start, $ = end -- match the start or end of the string

In [0]:
import re

pattern = r"Cookie"
sequence = "Cookie is good"
if re.search(pattern, sequence):
  print("Match!")
else:
  print("Not a match!")

Match!

In [0]:
#. (a period) -- matches any single character except newline '\n'

match = re.search(r'Co.k.e', 'This is Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")  



#. (a period) -- matches any single character except newline '\n'

match = re.search(r'Co.k.e', 'This is Coxkxe')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
# search() versus match()
# The match() function checks for a match only at the beginning of the string (by default)
# whereas the search() function checks for a match anywhere in the string.
import re

match = re.match(r'Co.k.e', 'This is Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")  
  

match = re.search(r'Co.k.e', 'This is Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

Not a match!
Match
Cookie

In [0]:
#\w - Lowercase w. Matches any single letter, digit or underscore.

match = re.search(r'Co\wk\we', 'Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#\W - Uppercase w. Matches any character not part of \w (lowercase w).
# @ is not part of \w and hence becomes part of \W

match = re.search(r'C\Wke', 'C@ke')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#\s - Lowercase s. Matches a single whitespace character like: space, newline, tab, return.

match = re.search(r'Eat\scake', 'Eat cake')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#"\S - Uppercase s. Matches any character not part of \s (lowercase s).

match = re.search(r'Cook\Se', 'Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#\d - Lowercase d. Matches decimal digit 0-9.

match = re.search(r'c\d\dkie', 'c00kie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#^ - Caret. Matches a pattern at the start of the string.

match = re.search(r'^Eat', 'Eat cake')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#$ - Matches a pattern at the end of string.

match = re.search(r'cake$', 'Eat cake')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:


# [abc] - Matches a or b or c.
# [a-zA-Z0-9] - Matches any letter from (a to z) or (A to Z) or (0 to 9). 

match = re.search(r'Number: [0-6]', 'Number: 5')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#If the first character of the set is ^, all the characters that are not in the set will be matched.

match = re.search(r'Number: [^5]', 'Number: 0')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
#If the first character of the set is ^, all the characters that are not in the set will be matched.

match = re.search(r'Number: [^5]', 'Number: *')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
import re

#\A - Uppercase a. Matches only at the start of the string. Works across multiple lines as well

match =re.search(r'\A[A-E]ookie', 'Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!") 


match =re.search(r'^[A-E]ookie', 'Cookie')  # This will give error as caret cannot be used with range
if match:
  print("Match *******")
  print(match.group())
else:
  print("Not a match!******") 
  
  

print ('---------------') 

match =re.search(r'[A-E]ookie', 'This is Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!") 
  

print ('---------------') 


match =re.search(r'\A[A-E]ookie', 'This is Cookie')  # This does not match as Cookie is not part of string
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")

In [0]:
import re

#\b - Lowercase b. Matches only the beginning or end of the word.

match =re.search(r'\b[A-E]ookie', 'This is Cookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!") 
  
print ('---------------') 
  
match =re.search(r'\b[A-E]ookie', 'This is YumCookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")  
  
print ('---------------')  

# This matches because there is no \b and hence it searches in all words.

match =re.search(r'[A-E]ookie', 'This is YumCookie')
if match:
  print("Match")
  print(match.group())
else:
  print("Not a match!")




match =re.search(r'\b\dookie', 'This is 1ookie')
if match:
  print("Match @@@@@")
  print(match.group())
else:
  print("Not a match! @@@@@")

In [0]:
# In Python a regular expression search is typically written as:

# match = re.search(pat, str)
# The re.search() method takes a regular expression pattern and a string and searches for that pattern within the string. 
# If the search is successful, search() returns a match object or None otherwise


import re

str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)
# If-statement after search() tests if it succeeded
if match:
  print ('found', match.group()) ## 'found word:cat'
else:
  print ('did not find')

found word:cat

In [0]:
  ## Search for pattern 'iii' in string 'piiig'.
  ## All of the pattern must match, but it may appear anywhere.
  ## On success, match.group() is matched text.
  import re
  
  match = re.search(r'iii', 'piiig')    #=>  found, match.group() == "iii"
  if (match):
    print ("Found for #1",  match.group())
  else:
    print ("Not Found for #1")
  
  
  match = re.search(r'igs', 'piiig')    # =>  not found, match == None
  if (match):
    print ("Found for #2",  match.group())
  else:
    print ("Not Found for #2")
  
  

  ## . = any char but \n
  
  match = re.search(r'..g', 'piiig')   #=>  found, match.group() == "iig"
  
  if (match):
    print ("Found for #3",  match.group())
  else:
    print ("Not Found for #3")
  

  ## \d = digit char, \w = word char
  match = re.search(r'\d\d\d', 'p123g') #=>  found, match.group() == "123"
  
  if (match):
    print ("Found for #4",  match.group())
  else:
    print ("Not Found for #4")
  
  
  
  # \w -- (lowercase w) matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_]. 
  # @ and ! and no part of w and hence they don't get mapped.
  
  match = re.search(r'\s\w\w\w', '@@abcd!! efg') #=>  found, match.group() == "abc"
  
  if (match):
    print ("Found for #5",  match.group())
  else:
    print ("Not Found for #5")

In [0]:
  ## i+ = one or more i's, as many as possible.
  match = re.search(r'pi+', 'piiig') =>  found, match.group() == "piii"

  ## Finds the first/leftmost solution, and within it drives the +
  ## as far as possible (aka 'leftmost and largest').
  ## In this example, note that it does not get to the second set of i's.
  match = re.search(r'i+', 'piigiiii') =>  found, match.group() == "ii"

  ## \s* = zero or more whitespace chars
  ## Here look for 3 digits, possibly separated by whitespace.
  match = re.search(r'\d\s*\d\s*\d', 'xx1 2   3xx') =>  found, match.group() == "1 2   3"
  match = re.search(r'\d\s*\d\s*\d', 'xx12  3xx') =>  found, match.group() == "12  3"
  match = re.search(r'\d\s*\d\s*\d', 'xx123xx') =>  found, match.group() == "123"

  ## ^ = matches the start of string, so this fails:
  match = re.search(r'^b\w+', 'foobar') =>  not found, match == None
  ## but without the ^ it succeeds:
  match = re.search(r'b\w+', 'foobar') =>  found, match.group() == "bar"

Things get more interesting when you use + and * to specify repetition in the pattern

      + -> 1 or more occurrences of the pattern to its left, e.g. 'i+' = one or more i's
      * -> 0 or more occurrences of the pattern to its left
      ? -> match 0 or 1 occurrences of the pattern to its left

In [0]:
#one or more i's, as many as possible.

match = re.search(r'pi+', 'piiig') # =>  found, match.group() == "piii"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# + - Checks for one or more characters to its left.

import re
match = re.search(r'Co+kie', 'Cooookie') # =>  found, match.group() == "Cooookie"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# * - Checks for zero or more characters to its left.
import re
match = re.search(r'Ca*o*kie', 'Caokie') 
if(match):
  print (match.group())
else:
  print ('Match not found')



import re
match = re.search(r'Ca*o*kie', 'Ckie') 
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# * - Checks for zero or more characters to its left.
import re
match = re.search(r'Ca*o*kie', 'Ckie')  # because of * 
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# ? - Checks for exactly zero or one character to its left.
import re
match =re.search(r'Colou?r', 'Color')  # because of * 
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# ? - Checks for exactly zero or one character to its left.
import re
match =re.search(r'Colou?r', 'Colour')  # because of * 
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
#{x} - Repeat exactly x number of times.

#{x,} - Repeat at least x times or more.

#{x, y} - Repeat at least x times but no more than y times.

import re
match = re.search(r'\d{9,10}', '0987654321') # matches a number minimum 9 times and maximum 10 times.
if(match):
  print (match.group())
else:
  print ('Match not found')
  
  
match = re.search(r'\d{9,10}', '098765432123333') # matches a number minimum 9 times and maximum 10 times.
if(match):
  print (match.group())
else:
  print ('Match not found')  
  
match = re.search(r'\d{9,10}', '09876') # matches a number minimum 9 times and maximum 10 times.
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
## Finds the first/leftmost solution, and within it drives the +
## as far as possible (aka 'leftmost and largest').
## In this example, note that it does not get to the second set of i's.

match = re.search(r'i+', 'piiigiiii') # =>  found, match.group() == "ii"



if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
## \s* = zero or more whitespace chars
## Here look for 3 digits, possibly separated by whitespace.

match = re.search(r'\d\s*\d\s*\d', 'xx1  2  3xx') # =>  found, match.group() == "1 2   3"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
# Important to note that * means zero also

match = re.search(r'\d\s*\d\s*\d', 'xx12  3xx') #=>  found, match.group() == "12  3"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
match = re.search(r'\d\s*\d\s*\d', 'xx123xx') # =>  found, match.group() == "123"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
match = re.search(r'^\d', '123 is a text') # =>  found, match.group() == "123"
if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
## ^ = matches the start of string, so this fails:
match = re.search(r'^b\w+', 'foobar') # =>  not found, match == None
if(match):
  print (match.group())
else:
  print ('Match not found')

  
## but without the ^ it succeeds:
match = re.search(r'b\w+', 'foobar') #=>  found, match.group() == "bar" 

if(match):
  print (match.group())
else:
  print ('Match not found')

In [0]:
  # Suppose you want to find the email address inside the string 'xyz alice-b@google.com purple monkey'. 
  # We'll use this as a running example to demonstrate more regular expression features. 
  # Here's an attempt using the pattern r'\w+@\w+
  
  
  str = 'purple alice-b@google.com monkey dishwasher'
  
  match = re.search(r'\w+@\w+', str)
  if match:
    print (match.group())  ## 'b@google'

In [0]:
# Square brackets can be used to indicate a set of chars, so [abc] matches 'a' or 'b' or 'c'. 
# The codes \w, \s etc. work inside square brackets too with the one exception that dot (.) just means a literal dot. 
# For the emails problem, the square brackets are an easy way to add '.' 
# and '-' to the set of chars which can appear around the @ 
# with the pattern r'[\w.-]+@[\w.-]+' to get the whole email address:


str = 'purple alice-b@google.com monkey dishwasher'

# Get all \w character set or . or - and they can be multiple times. The same after ampersand.
match = re.search(r'[\w.-]+@[\w.-]+', str)
if match:
    print (match.group())  ## 'alice-b@google.com'

In [0]:
  # The "group" feature of a regular expression allows you to pick out parts of the matching text. 
  # Suppose for the emails problem that we want to extract the username and host separately. 
  # To do this, add parenthesis ( ) around the username and host in the pattern, like this: r'([\w.-]+)@([\w.-]+)'. 
  
    
  str = 'purple alice-b@google.com monkey dishwasher'
  
  
  
  match = re.search(r'([\w.-]+)@([\w.-]+)', str)
  if match:
    print (match.group())   ## 'alice-b@google.com' (the whole match)
    print (match.group(1))  ## 'alice-b' (the username, group 1)
    print (match.group(2))  ## 'google.com' (the host, group 2)
    print (match.group(0))

In [0]:
import re
# match, search,findall

str = "A Test program for RE Test"

mtch = re.match(r"Test",str)
if mtch:
  print(mtch.group())
else:
  print("mismatch")

srch = re.search(r"Test",str)
if srch:
  print(srch.group())
else:
  print("mismatch")


fndall = re.findall(r"Test",str)
if fndall:
  print(fndall)
else:
  print("no match")

In [0]:
#findall() is probably the single most powerful function in the re module.
#Above we used re.search() to find the first match for a pattern. 
#findall() finds *all* the matches and returns them as a list of strings, with each string representing one match.


## Suppose we have a text with many email addresses
str = 'purple alice@google.com, blah monkey bob@abc.com blah dishwasher'

## Here re.findall() returns a list of all the found email strings
emails = re.findall(r'[\w\.-]+@[\w\.-]+', str) ## ['alice@google.com', 'bob@abc.com']
for email in emails:
  # do something with each found email string
  print (email)

In [0]:
# For files, you may be in the habit of writing a loop to iterate over the lines of the file,
#and you could then call findall() on each line. Instead, let findall() do the iteration for you -- much better! Just feed the whole file text into findall() and let it return a list of all the matches in a single step (recall that f.read() returns the whole text of a file in a single string):

# Open file
f = open('test.txt', 'r')
  # Feed the file text into findall(); it returns a list of all the found strings
strings = re.findall(r'some pattern', f.read())

In [0]:
# Findall and Groups

str = 'purple alice@google.com, blah monkey bob@abc.com blah dishwasher'
tuples = re.findall(r'([\w\.-]+)@([\w\.-]+)', str)            # There is the bracket.
print (tuples)  ## [('alice', 'google.com'), ('bob', 'abc.com')]
for tuple in tuples:
  print (tuple[0])  ## username
  print (tuple[1])  ## host

In [0]:
# Substitution
str = 'purple alice@google.com, blah monkey bob@abc.com blah dishwasher'
## re.sub(pat, replacement, str) -- returns new string with all replacements,
## \1 is group(1), \2 group(2) in the replacement
print (re.sub(r'([\w\.-]+)@([\w\.-]+)', r'\1@yo-yo-dyne.com', str))

In [0]:
#start([group])
#end([group])
#Return the indices of the start and end of the substring matched by group; group defaults to zero (meaning the whole matched substring). 

import re

email = "tony@tiremove_thisger.net"
m = re.search("remove_this", email)
print (email[:m.start()] + email[m.end():])

In [0]:
#Greedy vs Non-Greedy Matching
#When a special character matches as much of the search sequence (string) as possible, it is said to be a "Greedy Match". 
# It the normal behavior of a regular expression but sometimes this behavior is not desired:

pattern = "cookie"
sequence = "Cake and cookie"

heading  = r'<h1>TITLE</h1>'
print(re.match(r'<.*>', heading).group())

print(re.match(r'<.*?>', heading).group())

In [0]:
import re
import requests
the_idiot_url = 'https://www.gutenberg.org/files/2638/2638-0.txt'

def get_book(url):
    # Sends a http request to get the text from project Gutenberg
    raw = requests.get(url).text
    # Discards the metadata from the beginning of the book
    start = re.search(r"\*\*\* START OF THIS PROJECT GUTENBERG EBOOK .* \*\*\*",raw ).end()
    # Discards the metadata from the end of the book
    stop = re.search(r"II", raw).start()
    # Keeps the relevant text
    text = raw[start:stop]
    return text

def preprocess(sentence): 
    return re.sub('[^A-Za-z0-9.]+' , ' ', sentence).lower()

book = get_book(the_idiot_url)
processed_book = preprocess(book)
print(processed_book)

In [0]:
#Find the number of the pronoun "the" in the corpus
len(re.findall(r'the', processed_book))

In [0]:
#Try to convert every single stand-alone instance of 'i' to 'I' in the corpus. Make sure not to change the 'i' occuring in a word:

processed_book = re.sub(r'\si\s', " I ", processed_book)
print(processed_book)

In [0]:
#What are the words connected by '--' in the corpus?

print (re.findall(r'[a-zA-Z0-9]*--[a-zA-Z0-9]*', book))

In [0]:
text = """Ross McFluff: 834.345.1254 155 Elm Street

Ronald Heathmore: 892.345.3428  436 Finley Avenue

Frank Burger: 925.541.7625 662 South Dogwood Way

Heather Albrecht: 548.326.4584 919 Park Place"""

entries = re.split("\n+", text)
print(entries)

print('\n')

[re.split(":? ", entry, 3) for entry in entries]

# Executing Shell Commands Python

In [0]:
import os

cmd = "Dir "

returned_value = os.system(cmd)  # returns the exit code in unix

print (type(returned_value))
print('returned value:', returned_value)

In [0]:
import subprocess

cmd = "Dir"

returned_value = subprocess.call(cmd, shell=True)  # returns the exit code in unix
print (type(returned_value))
print('returned value:', returned_value)

In [0]:
import subprocess


cmd = "Dir *.*"

# returns output as byte string
returned_output = subprocess.check_output(["Dir","*.*"],shell=True)

# using decode() function to convert byte string to string
print(type(returned_output))
print(type(returned_output.decode("utf-8")))
print('Returned Output is:', returned_output.decode("utf-8"))

In [0]:
s="123"
print(s[0])


s[0] ='x'

In [0]:
import sys

def main():
    # print command line arguments
    print (type(sys.argv))
    for arg in sys.argv[1:]:
        print (arg, type(arg))

if __name__ == "__main__":
    main()

In [0]:
import sqlite3

conn = sqlite3.connect(':memory:')
print ("Opened database successfully")



conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

print ("Table created successfully");


conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully");


cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully");
conn.close()

In [0]:
# This will not work. We will have to use outside in conda  environment

# will need to install ipywidgets
# !pip install ipywidgets

import ipywidgets as widgets
from ipywidgets import HBox, VBox
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

@widgets.interact_manual(
    color=['blue', 'red', 'green'], lw=(1., 10.))
def plot(freq=1., color='blue', lw=2, grid=True):
    t = np.linspace(-1., +1., 1000)
    fig, ax = plt.subplots(1, 1, figsize=(8, 6))
    ax.plot(t, np.sin(2 * np.pi * freq * t),
            lw=lw, color=color)
    ax.grid(grid)

In [0]:
# This will not work. We will have to use outside in conda  environment

# will need to install ipywidgets
# !pip install ipywidgets


freq_slider = widgets.FloatSlider(
    value=2.,
    min=1.,
    max=10.0,
    step=0.1,
    description='Frequency:',
    readout_format='.1f',
)
#freq_slider


range_slider = widgets.FloatRangeSlider(
    value=[-1., +1.],
    min=-5., max=+5., step=0.1,
    description='xlim:',
    readout_format='.1f',
)
#range_slider


grid_button = widgets.ToggleButton(
    value=False,
    description='Grid',
    icon='check'
)
#grid_button

color_buttons = widgets.ToggleButtons(
    options=['blue', 'red', 'green'],
    description='Color:',
)
#color_buttons

title_textbox = widgets.Text(
    value='Hello World',
    description='Title:',
)
#title_textbox


color_picker = widgets.ColorPicker(
    concise=True,
    description='Background color:',
    value='#efefef',
)
#color_picker

button = widgets.Button(
    description='Plot',
)



def on_button_clicked(b):
    print("Button clicked.")
    plot2(b)

button.on_click(on_button_clicked)

#button.on_click(plot2())

#button
#@button.on_click
#def plot_on_click(b):
#    plot2()
    

def plot2(b=None):
    print ('Hello')
    xlim = range_slider.value
    freq = freq_slider.value
    grid = grid_button.value
    color = color_buttons.value
    title = title_textbox.value
    bgcolor = color_picker.value

    t = np.linspace(xlim[0], xlim[1], 1000)
    f, ax = plt.subplots(1, 1, figsize=(8, 6))
    ax.plot(t, np.sin(2 * np.pi * freq * t),
            color=color)
    ax.grid(grid)
    

    
tab1 = VBox(children=[freq_slider,
                      range_slider,
                      ])
tab2 = VBox(children=[color_buttons,
                      HBox(children=[title_textbox,
                                     color_picker,
                                     grid_button]),
                                     ])
tab = widgets.Tab(children=[tab1, tab2])
tab.set_title(0, 'plot')
tab.set_title(1, 'styling')
VBox(children=[tab, button])

In [0]:
#https://github.com/timeline.json


import requests 

r = requests.get('https://github.com/timeline.json')
print (r.json)

In [0]:
string = "0000011111100001111111000111111111110000000000000001111"
l1 = []
newstr = ""
for i in range(0, len(string) - 1):
    if string[i] == string[i + 1]:
        newstr += string[i]
    else:
        if newstr != "" and len(newstr) > 1:
            newstr += string[i - 1]
            l1.append(newstr)
        newstr = ""

for i in l1:
    print(i, len(i))

# Advanced Sorting

https://www.afternerd.com/blog/python-sort-list/#sort-tuples

In [0]:
l = [17, 5, 12, 1, 14]
l.sort()   # The existing list is sorted in place. No new list is created

print(l)

l = [17, 5, 12, 1, 14]
l.sort(reverse=True)  #sorting in reverse
print(l)

[1, 5, 12, 14, 17]
[17, 14, 12, 5, 1]

In [0]:
l = [17, 5, 12, 1, 14]
new_list = sorted(l)  # a new list is created
print(new_list)


l = [17, 5, 12, 1, 14]
new_list = sorted(l, reverse = True)  # a new sorted list is created in reverse
print(new_list)

[1, 5, 12, 14, 17]
[17, 14, 12, 5, 1]

In [0]:
l = ["oranges", "apples", "Bananas"]
l.sort()

print(l)  # Banans come first as Python treats upper case to be lower.



l = ["oranges", "apples", "Bananas"]
l.sort(key=str.lower)

print(l)

['Bananas', 'apples', 'oranges']
['apples', 'Bananas', 'oranges']

In [0]:
def custom_sort(t):
    return t[1]

L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
L.sort(key=custom_sort)
print(L)

In [0]:
L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
L.sort(key=lambda x: x[1])   # Using Lamdas
print(L)

In [0]:
# Sorting user define objects

class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
        
Bob = User('Bob', 20)
Alice = User('Alice', 30)
Leo = User('Leo', 15)
L = [Bob, Alice, Leo]



L.sort(key=lambda x: x.name)
print([item.name for item in L])


L.sort(key=lambda x: x.age)
print([item.name for item in L])

['Alice', 'Bob', 'Leo']
['Leo', 'Bob', 'Alice']

# Functional Programming

https://kite.com/blog/python/functional-programming/

In [0]:
addition = lambda a, b: a + b
print(addition(3, 4))

7

In [0]:
authors = ['Octavia Butler', 'Isaac Asimov', 'Neal Stephenson', 'Margaret Atwood', 'Usula K Le Guin', 'Ray Bradbury']
sorted(authors, key=len)  # Returns list ordered by length of author name
sorted(authors, key=lambda name: name.split()[-1])  # Returns list ordered alphabetically by last name.

In [0]:
val = [1, 2, 3, 4, 5, 6]

# Multiply every item by two
print(list(map(lambda x: x * 2, val))) # [2, 4, 6, 8, 10, 12]

[2, 4, 6, 8, 10, 12]

In [0]:
 list(map(int, ["1", "2", "3"])) # converts every string to an int

In [0]:
def func1():
    print("From one")

def func2():
    print("From two")

def func3():
    print("From three")

executing = lambda f: f()
list(map(executing, [func1, func2, func3]))

From one
From two
From three

[None, None, None]

In [0]:
val = [1, 2, 3, 4, 5, 6]

# Multiply every item by two
reduce(lambda: x, y: x * y, val, 1) # 1 * 1 * 2 * 3 * 4 * 5 * 6

In [0]:
numbers = [13, 4, 18, 35]
div_by_5 = filter(lambda num: num % 5 == 0, numbers)

# We can convert the iterator into a list
print(list(div_by_5))

In [0]:
 # Filtering age > 50
    
 data = [
         {"name": "vishal", "age":50},
         {"name": "Rashmi", "age":30}   
       ]

age_greater_than_40 = filter( lambda item: item["age"]>40, data)

print(list(age_greater_than_40))

[{'name': 'vishal', 'age': 50}]

In [0]:
import itertools
import operator

data = [1, 2, 3, 4, 5]
result = itertools.accumulate(data, operator.mul)
for each in result:
    print(each)

1
2
6
24
120

In [0]:
import itertools
import operator

data = [1, 2, 3, 4, 5]
result = itertools.accumulate(data, max)
for each in result:
    print(each)

1
2
3
4
5